/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
Labal {
	/*-fx-padding: 50.0;*/
}

Button:hover {
	-fx-border-color: skyblue;
	-fx-background-color: yellow;
}

Button:pressed {
	-fx-border-color: skyblue;
	-fx-background-color: red;
}

